.selectable-transaction {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 1px solid #696868;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.selectable-transaction:hover {
  background-color: #696868;
  cursor: pointer;
}

.selected {
  border: 2px solid #2eac2e;
  background: rgb(150 238 150 / 15%);
}

.selectable-transaction > p {
  margin-right: 1rem;
}

.selectable-transaction > p:last-child {
  margin-right: 0;
}
